<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mirror Mirror</title>
  <link rel="icon" href="static\img\text_sent.png">
  <link href="static\css\style.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Work+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<header>
      <nav> 
      <a href="{{url_for('index')}}">Home</a>
      <a href="{{url_for('detector')}}">Affirmation</a>
        </nav>
</header>
{% block content %}

{% endblock %}
</html>